body {
   background-color: rgb(69, 63, 63);
   color: rgb(255, 238, 0);
   text-align: center;
}


 h1 {
    color: rgb(13, 44, 44);
    text-align: center;    
}
h2 {
    color: blue;
    text-align: center;
}
